---
# tasks file for ansible-role-server-bootstrap

- name: Install some basic utility packages
  ansible.builtin.dnf:
    name: ["vim", "htop", "sendmail", "monit", "fail2ban", "zip", "unzip", "policycoreutils-python-utils", "chrony"]
    state: present
    update_cache: true
    lock_timeout: "{{ lock_timeout }}"

- name: Set selinux to permissive mode
  ansible.posix.selinux:
    policy: targeted
    state: permissive
  when: ansible_selinux != False and ansible_selinux.status == "enabled"  # noqa literal-compare

- name: Manage users
  ansible.builtin.include_tasks: manage-users.yml

- name: Update the ssh deamon to listen on non standard port
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    state: present
    regexp: "^Port"
    line: "Port {{ ssh_port }}"
    validate: 'sshd -T -f %s'
  notify: Restart sshd

- name: Disable passwords on SSH.
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    state: present
    regexp: "^PermitRootLogin prohibit-password"
    line: "PermitRootLogin prohibit-password"
    validate: 'sshd -T -f %s'
  notify: Restart sshd

- name: Make sure firewalld is enabled
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: true
  when:
    - ansible_service_mgr == "systemd"
    - ansible_virtualization_type != "docker"

- name: Allow ssh on non-standard port
  ansible.posix.firewalld:
    port: "{{ ssh_port }}/tcp"
    state: enabled
    permanent: true
  notify: Restart firewalld

- name: Make sure chrony is enabled
  ansible.builtin.service:
    name: chronyd
    state: started
    enabled: true

- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"

- name: Include service tasks
  ansible.builtin.include_tasks: service.yml
  tags:
    - service-level
