---
# handlers file for ansible-role-server-bootstrap

- name: Restart sshd
  ansible.builtin.service:
    name: sshd
    state: restarted
  become: true

- name: Restart firewalld
  ansible.builtin.service:
    name: firewalld
    state: restarted
  become: true
  when:
    - ansible_service_mgr == "systemd"
    - ansible_virtualization_type != "docker"

- name: Restart ntpd
  ansible.builtin.service:
    name: ntpd
    state: restarted
  become: true
